= form_for @project do |f|
  .form-group
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, class: 'form-control'
  .form-group
    = f.label :description
    %br/
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :project_type
    %br/
    = f.select :project_type, Project.project_types.keys.map { |t| [t.humanize, t] }, {}, class: 'form-control'
  .form-group
    = f.label :client_name
    %br/
    = f.text_field :client_name, class: 'form-control'
  .actions
    = f.submit "Create", class:'btn btn-default'